/*
    Filename: styles.css
    Description: Styling for the Assn5 project in Projects folder.
    Author: Sean Zitzer
    Date Created: 09-24-2023
    Last Updated: 09-24-2023
*/

html {
  height: 100%;
  width: 100%;
}

.banner {
  background-image: url("img/vegeta_bbBlue.jpg");
  max-width: 100%;
  height: 250px;
  border: solid;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-color: black;
}

body {
  background-color: gray;
  color: black;
  text-align: center;
  display: grid;
  grid-template-areas: 'header header header header header header' 'nav main main main main main' 'nav main main main main main' 'footer footer footer footer footer footer';
  gap: 10px;
  padding: 10px;
}

body {
  text-align: center;
  font-size: 30px;
  padding: 20px;

}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  font-size: 14px;
  margin-bottom: 03%;
}

button {
  height: 40px;
  width: 200px;
  font-size: 18px;
  border-radius: 5rem;
  background-image: url("img/vegeta_bbBlue.jpg");
}

ol {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0%;
}

ol > li > ol {
  margin-left: 0;
  padding-left: 0%;
}

ol > li  > ol:nth-child(odd) {
  background-color: #87CEFA;
}

table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
}

th, td {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
}

th {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
}
td {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  background-color: #f2f2f2;
  text-align: center;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}